.git
.gitignore
docker-compose.override.yml
docker-compose.local.yml
.env.local
.env.*.local
.DS_Store
.idea
*.log
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*
vendor/
.phpunit.result.cache
.vscode
README.md
LICENSE
.editorconfig
.prettierrc
.eslintrc
